<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= event_location_presenter.id %>">
  <div class="large-2 small-6 columns" data-equalizer-watch="module-list">
    <%= event_location_presenter.location_name %>
  </div>

  <div class="large-8 small-6 columns" data-equalizer-watch="module-list">
    <%= event_location_presenter.address %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= event_location_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= event_location_presenter.delete_link %>
  </div>
</div>
