<%= form_for(event_location) do |f| %>
<% if event_location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event_location.errors.count, "error") %> prohibited this event_location from being saved:</h2>

    <ul>
      <% event_location.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
    <div class="field">
      <%= f.label :location_name, "Location name, used within filtering and the URL" %><br>
      <%= f.text_field :location_name %>
    </div>
      <div class="field">
        <%= f.label :address_line_1 %><br>
        <%= f.text_field :address_line_1 %>
      </div>
      <div class="field">
        <%= f.label :address_line_2 %><br>
        <%= f.text_field :address_line_2 %>
      </div>
            <div class="field">
        <%= f.label :city %><br>
        <%= f.text_field :city %>
      </div>
            <div class="field">
        <%= f.label :region %><br>
        <%= f.text_field :region %>
      </div>
            <div class="field">
        <%= f.label :post_code %><br>
        <%= f.text_field :post_code %>
      </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
    <%= f.submit "Save and continue editing" %>
  </div>
<% end %>
