<div class="row collapse module-list-index header">
  <%= list_item 'large-1 hide-for-medium-down' do %>
    <%= link_to octicon('settings') %>
  <% end %>
  <%= list_item('') { 'Title' } %>

  <%= list_item('large-2 hide-for-medium-down') { 'Image' } %>

  <%= list_item('large-1 small-4 text-center') { 'Display' } %>
  <%= list_item('large-1 small-4 text-center') { 'Edit' } %>
  <%= list_item('large-1 text-center last') { 'Delete' } %>
</div>
