<%= form_for(page) do |f| %>
<% if page.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

    <ul>
      <% page.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>


  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>
          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
            <%= f.image_field :image %>

          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
      <% if Page.layouts.size > 1 %>
        <div class="field">
          <%= f.label :layout %><br />
          <%= f.select :layout, Page.layouts.map{ |x| [t(x), x] } %>
        </div>
      <% end %>

      <% if Page.styles.size > 1 %>
        <div class="field">
          <%= f.label :style %><br />
          <%= f.select :style, Page.styles.map{ |x| [t(x), x] } %>
        </div>
      <% end %>


            <% if Page.types.size > 1 %>
              <div class="field">
                <p>A type is used to find links on hard coded pages, e.g. linking to the "Patrons" page.</p>
                <%= f.label :page_type %><br />
                <%= f.select :page_type, Page.types.map{ |x| [t(x), x] }, include_blank: 'Standard' %>
              </div>
            <% end %>

            <div class="field">
              <%= f.label :suggested_url %><br />
              <%= f.text_field :suggested_url %>
            </div>

            <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
