<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= page_presenter.id %>">
  <div class="large-1 small-2 columns" data-equalizer-watch="module-list">
    <%= page_presenter.detail_toggle_link %>
  </div>

  <div class="large-5 small-6 columns" data-equalizer-watch="module-list">
    <%= page_presenter.title %>
  </div>

  <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
    <%= page_presenter.edit_image(:image) %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= page_presenter.toggle_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= page_presenter.view_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= page_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= page_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= page_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= page_presenter.content %>
    </div>
  </div>
</div>
