<div class="small-12 large-4 columns">

  <div class="list-item-with-image">
    <%= link_to(event_group, class: 'list-item-with-image-title') do %>
      <div class="list-item-with-image__image">
        <% if event_group.area == 'International' %>
          <%= image_tag 'placeholders/chamber-image.jpg', alt: '' %>
          <%#= image_tag 'placeholders/trade-image.jpg', alt: '' %>
        <% else %>
          <%= image_tag 'placeholders/chamber-image.jpg', alt: '' %>
        <% end %>
      </div>

      <%= event_group.title %>
    <% end %>

    <%= raw(event_group.summary) %>

    <div>
      <%= link_to 'View events', event_group, class: 'content-box-ghost-button' %>
    </div>
  </div>
</div>
