<% present payment do |presenter| %>
  <div class="row collapse module-list-index <%= cycle('odd', 'even') %>" id="item-<%= presenter.id %>">
    <div class="large-1 small-4 text-center columns">
      <%= presenter.id %>
    </div>

    <div class="columns">
      <%= presenter.company_name %>
    </div>

    <div class="columns">
      <%= presenter.manage %>
    </div>

    <div class="large-2 columns">
      <%= presenter.submitted %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= presenter.paid %>
    </div>

    <div class="large-1 small-4 text-center columns">
      <%= presenter.view_link %>
    </div>
  </div>
<% end %>
