<%= render(partial: 'optimadmin/shared/header/main_title', locals: { title: t('optimadmin.views.module.index.title', model_name: Memberships::Payment.model_name.human.pluralize) }) %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render(partial: 'optimadmin/shared/search_form') %>
    <%= render(partial: 'optimadmin/shared/module/index/pagination') %>
    <%#= render(partial: 'optimadmin/shared/module/index/order', locals: { options: [['A-Z', 'title ASC'], ['Z-A', 'title DESC']] }) %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('large-1 small-4 text-center') { 'ID' } %>
    <%= list_item('') { 'Company name' } %>
    <%= list_item('') { 'Submitted' } %>
    <%= list_item('large-1 small-4 text-center') { 'Paid' } %>
    <%= list_item('large-1 small-4 text-center') { 'View' } %>
  </div>

  <!-- <div class="module-sortable" data-module="Memberships::Payment"> -->
  <%= render(partial: 'payment', collection: @payments, as: :payment, cached: true) %>
  <!-- </div> -->

  <%= paginate(@payments) %>
</div>
