<div class="tabs prevent-flash">
  <ul class="tab-list">
    <li><a href="#tabs-1">Content</a></li>
    <li><a href="#tabs-2">Settings</a></li>
    <li>
      <%= link_to('#', class: 'destroy-tabs right', data: { class: 'tabs' }) do %>
        <%= octicon('chevron-down') %>
      <% end %>
    </li>
  </ul>

  <%= field_set_tag(nil, id: 'tabs-1') do %>
    <div class="field">
      <%= f.label :area %><br />
      <%= f.select :area, ::EventGroup::CATEGORIES, prompt: t('helpers.select.prompt') %>
    </div>
    <div class="field">
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :summary %><br>
      <%= f.text_area :summary, class: 'tinymce' %>
    </div>
    <div class="field">
      <%= f.label :content %><br>
      <%= f.text_area :content, class: 'tinymce' %>
    </div>
  <% end %>

  <%= field_set_tag(nil, id: 'tabs-2') do %>
    <div class="field">
      <%= f.label :redirect_url %><br />
      <%= f.text_field :redirect_url %>
    </div>

      <div class="field">
      <%= f.label(:event_category_ids) %><br>
      <%= f.collection_select(
            :event_category_ids,
            EventCategory.order(:name),
            :id,
            :name,
            {},
            {
              multiple: true,
              class: 'multiselect'
            }
          ) %>
    </div>

    <div class="field">
      <%= f.label :display %><br>
      <%= f.check_box :display %>
    </div>
  <% end %>
</div>
