<div class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <%= render(partial: 'shared/flash_messages') %>
        <% if @facade.additional_content? %>
          <% present @facade.additional_content do |presenter| %>
            <h1><%= presenter.title %></h1>

            <div class="content">
              <%= presenter.content %>
            </div>
          <% end %>
        <% end %>

        <% if false %>
        <ul class="memberships-form-links-list">
          <li class="memberships-form-links-list__item">
            <%= link_to('Full application', '#new_memberships_payment', class: 'memberships-form-links-list__link') %>
          </li>
          <li class="memberships-form-links-list__item">
            <%= link_to('Make an enquiry', '#new_memberships_enquiry', class: 'memberships-form-links-list__link') %>
          </li>
        </ul>
        <% end %>

        <%= render(partial: 'memberships/payments/form', locals: { model: @payment }) %>
      </div>

      <div class="row">
        <%= render(partial: 'memberships/groups/shared/home', collection: @facade.groups, as: :group, locals: { parent_class: 'memberships-home-group' }) %>
      </div>
    </div>

    <aside class="medium-4 small-12 columns">

      <section class="aside-content-wrap">
        <h2>Membership <span>pricelist</span></h2>

        <%= render(partial: 'memberships/packages/shared/aside', collection: @facade.packages, as: :package) %>
      </section>

      <section class="aside-content-wrap">
        <h2>Make an <span>enquiry</span></h2>

        <%= render(partial: 'memberships/enquiries/form', locals: { model: @enquiry }) %>
      </section>

      <% if @facade.sidebar_menu?(module_page: 'Memberships home', menu_name: 'header') %>
        <aside class="aside-content-wrap">
          <h3><span>Membership</span></h3>

          <ul class="plain-list sidebar">
            <%= nested_menu_items(menu_items: @facade.sidebar_menu(module_page: 'Memberships home', menu_name: 'header')) %>
          </ul>
        </aside>
      <% end %>
    </aside>
  </div>
</div>
