<%= form_for(patron) do |f| %>
<% if patron.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(patron.errors.count, "error") %> prohibited this patron from being saved:</h2>

    <ul>
      <% patron.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :link %><br>
        <%= f.text_field :link %>
      </div>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      <%= f.image_field :image %>
    <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
      <div class="field">
        <%= f.label :display %><br>
        <%= f.check_box :display %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>