<%= render 'optimadmin/shared/header/main_title', title: 'Manage Patrons' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Patron', object: Patron, path: new_patron_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @patrons.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-7 small-4' do 'Title' end %>

    <%= list_item 'large-2 hide-for-medium-down' do 'Image' end %>

    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <div class='module-sortable' data-module="Patron">
    <%= render partial: 'patron', collection: @patrons, as: :patron_presenter %>
  </div>
</div>
