<section class="content-area">
  <div class="row">
    <div class="medium-3 small-12 columns">
      <aside class="aside-content-wrap">
        <h3><span>News Categories</span></h3>

        <div class="category-item">
          <div class="title">
            <%= link_to 'All Articles', articles_path %>
          </div>
        </div>


        <%= render partial: 'shared/category_link_list', collection: @presented_article_categories, as: :module_presenter %>
      </aside>
    </div>

    <div class="medium-9 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_article_category.present? ? @presented_article_category.title : "News" %></h1>

        <%= render(partial: 'articles/article', collection: @presented_articles, as: :article_presenter) || "Currently no articles" %>

        <%= paginate @presented_articles %>
      </div>
    </div>
  </div>
</section>
