<%= render 'optimadmin/shared/header/main_title', title: 'Manage Categories' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Category', object: Category, path: new_category_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @categories.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-10 small-4' do 'Title' end %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'category', collection: @categories, as: :category_presenter %>
</div>