<%= content_for :footer do %>
  <% if @event_booking.errors.any? %>
    <script>
      $(function() {
        $('.add-event-attendees').attr('data-clicked', 'true');
        guestify();
        console.log('test');
      })
    </script>
  <% end %>

  <script>
    $(document).on('submit', '.new_event_booking', function() {
      $('.create-booking-button').attr('disabled', 'disabled');
      return true;
    });
  </script>

  <%= javascript_include_tag "components/event_booking_cocoon" %>
<% end %>

<section class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_event.booking_title %></h1>

        <div class="content">
          <%= form_for [@event, @event_booking] do |f| %>
            <% if @event_booking.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@event_booking.errors.count, 'error') %> prevented this booking from being made</h2>
                <ul>
                  <% @event_booking.errors.full_messages.each do |msg| %>
                    <li>
                      <%= msg %>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="event-booking-details">
              <p>Please fill in your details and then add each attendee. If you wish to attend the event, you must add yourself as an attendee too.</p>

              <div class="row">
                <div class="small-12 medium-6 columns">
                  <div class="field">
                    <%= f.label :forename %><br/>
                    <%= f.text_field :forename %>
                  </div>
                </div>

                <div class="small-12 medium-6 columns">
                  <div class="field">
                    <%= f.label :surname %><br/>
                    <%= f.text_field :surname %>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="small-12 columns">
                  <div class="field">
                    <%= f.label :company_name %><br/>
                    <%= f.text_field :company_name %>
                  </div>
                </div>
              </div>

              <div class="field">
                <%= f.label :nature_of_business %><br/>
                <%= f.text_field :nature_of_business %>
              </div>

              <div class="row">
                <div class="small-12 medium-6 columns">
                  <div class="field">
                    <%= f.label :email %><br/>
                    <%= f.email_field :email %>
                  </div>
                </div>

                <div class="small-12 medium-6 columns">
                  <div class="field">
                    <%= f.label :phone_number %><br/>
                    <%= f.telephone_field :phone_number %>
                  </div>
                </div>
              </div>

              <%= field_set_tag "Company Address" do %>
                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field">
                      <%= f.label :address_line_1 %><br/>
                      <%= f.text_field :address_line_1 %>
                    </div>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <div class="field">
                      <%= f.label :address_line_2 %><br/>
                      <%= f.text_field :address_line_2 %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 medium-6 columns">
                    <div class="field">
                      <%= f.label :town %><br/>
                      <%= f.text_field :town %>
                    </div>
                  </div>
                  <div class="small-12 medium-6 columns">
                    <div class="field">
                      <%= f.label :postcode %><br/>
                      <%= f.text_field :postcode %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

            <% if @event.event_agendas.map(&:table_size).sum.positive? || true %>
              <%= link_to 'Next', '#event-attendees', class: 'button event-process next add-event-attendees', data: { container: "#event-attendees, .actions, .event-process.next", class: 'hide', return: 'true' } %>
              <%#= link_to 'Previous', '#event-attendees', class: 'button event-process previous toggle-class hide', data: { container: "#event-attendees, .actions, .event-booking-details, .event-process.previous, .event-process.next", class: 'hide', return: 'false' } %>

              <%= field_set_tag "Attendees", id: "event-attendees", class: 'hide' do %>
                <p>
                  If you are booking a place on behalf of someone else then please
                  change the Attendee details below.
                </p>

                <p>
                  If you require additional places please click Add Attendee or
                  if you do not know attendee names at this time please use Add Guest.
                </p>

                <p>
                  If the event has a discount for
                  groups or tables this will be calculated based on the number of
                  Attendees/Guests entered below.
                </p>

                <%= f.fields_for :attendees do |attendee| %>
                  <%= render "attendees/attendee_fields", f: attendee %>
                <% end %>
                <%= link_to_add_association "Add Another Attendee", f, :attendees, class: 'hide', partial: "attendees/attendee_fields" %>
                <%= link_to 'Add Attendee', '#', class: 'add-attendee left' %>
                <%= link_to 'Add Guest', '#', class: 'add-guest right' %>
                <%#= link_to_add_association "Add Guest", f, :attendees, partial: "attendees/attendee_fields" %>
              <% end %>

              <div class="actions hide">
                <% if current_administrator.present? %>
                  <p style="
                        padding: 1rem;
                        background: #d7e4e4;
                        border: 1px solid #ab956e;
                        font-weight: 700;
                      ">
                    You are logged in as an admin so are able to create an 'offline payment'. You will see a 'create booking' when you log out of the admin.
                  </p>
                  <%= f.submit "Offline payment", class: 'button' %>
                <% else %>
                  <%= f.submit "Create Booking", class: 'button create-booking-button' %>
                <% end %>
              </div>
            <% else %>
              <div style="display:none !important;">
                <%= f.fields_for :attendees do |attendee| %>
                  <%= render "attendees/attendee_fields", f: attendee %>
                <% end %>
                <%= link_to_add_association "Add Another Attendee", f, :attendees, class: 'hide', partial: "attendees/attendee_fields" %>
                <%= link_to 'Add Attendee', '#', class: 'add-attendee left' %>
                <%= link_to 'Add Guest', '#', class: 'add-guest right' %>
              </div>

              <%= link_to 'Next', '#event-attendees', class: 'button event-process next add-event-attendees-and-proceed', data: { container: "#event-attendees, .actions, .event-process.next", class: 'hide', return: 'true' } %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
