<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= event_booking_presenter.id %>">
  <div class="large-1 small-2 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.detail_toggle_link %>
  </div>

  <div class="small-3 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.name %>
  </div>

  <div class="small-2 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.email %>
  </div>

  <div class="small-2 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.payment_method %>
  </div>

  <div class="small-1 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.paid %>
  </div>

  <div class="small-1 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.refunded %>
  </div>

  <div class="small-1 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.attendees_count %>
  </div>

  <div class="small-1 columns" data-equalizer-watch="module-list">
    <%= event_booking_presenter.show_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= event_booking_presenter.id %>">
    <div class="row">
      <div class="small-3 columns">
        <strong>Agendas</strong>
      </div>
      <div class="small-3 columns">
        <strong>Phone Number</strong>
      </div>
      <div class="small-3 columns">
        <strong>Email</strong>
      </div>
      <div class="small-3 columns">
        <strong>Dietary Requirements</strong>
      </div>
    </div>

    <% event_booking_presenter.attendees.each do |attendee_presenter| %>
      <div class="row">
        <div class="small-3 columns">
          <ul>
            <% attendee_presenter.event_agendas.each do |event_agenda_presenter| %>
              <li><%= event_agenda_presenter.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.phone_number %>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.email %>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.dietary_requirements %>
        </div>
      </div>
    <% end %>
  </div>
</div>
