<%= form_for(event_booking) do |f| %>
<% if event_booking.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event_booking.errors.count, "error") %> prohibited this event_booking from being saved:</h2>

    <ul>
      <% event_booking.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li><a href="#tabs-2">Media</a></li>
      <li><a href="#tabs-3">Settings</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
            <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>
            <div class="field">
        <%= f.label :company_name %><br>
        <%= f.text_field :company_name %>
      </div>
            <div class="field">
        <%= f.label :industry %><br>
        <%= f.text_field :industry %>
      </div>
            <div class="field">
        <%= f.label :nature_of_business %><br>
        <%= f.text_field :nature_of_business %>
      </div>
            <div class="field">
        <%= f.label :address %><br>
        <%= f.text_area :address, class: 'tinymce' %>
      </div>
            <div class="field">
        <%= f.label :phone_number %><br>
        <%= f.text_field :phone_number %>
      </div>
            <div class="field">
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </div>
            <div class="field">
        <%= f.label :attendees_count %><br>
        <%= f.number_field :attendees_count %>
      </div>
          <% end %>

    <%= field_set_tag nil, id: 'tabs-2' do %>
      
          <% end %>

    <%= field_set_tag nil, id: 'tabs-3' do %>
            <div class="field">
        <%= f.label :paid %><br>
        <%= f.check_box :paid %>
      </div>
            <div class="field">
        <%= f.label :refunded %><br>
        <%= f.check_box :refunded %>
      </div>
          <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
