<%= render 'optimadmin/shared/header/main_title', title: 'Manage Event Bookings' %>

<div class="main-content">
  <div class="row module-header collapse">
    <div class="small-3 columns">
      <%= @event_presenter.name %><br/>
      <%= link_to "Download CSV", event_event_bookings_path(format: :csv), target: "_blank", class: "button" %>
    </div>
    <div class="small-9 columns">
      <%= render 'optimadmin/shared/search_form' %>
      <%= render 'optimadmin/shared/module/index/pagination' %>
      <%= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
      <%= render 'optimadmin/shared/module/index/recycle_bin', items: @event_bookings.size, path: root_url %>
    </div>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-1 small-2' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
    <% end %>

    <%= list_item('small-3') { 'Name' } %>
    <%= list_item('small-2') { "Phone Number" } %>
    <%= list_item('small-2') { "Email" } %>
    <%= list_item { "Paid" } %>
    <%= list_item { "Refunded" } %>
    <%= list_item { "Attendees" } %>
    <%= list_item { 'View' } %>
  </div>

  <%= render partial: 'event_booking', collection: @event_bookings, as: :event_booking_presenter %>
  <%= paginate @event_bookings %>
</div>