<%= render 'optimadmin/shared/header/main_title', title: 'Manage Event Bookings' %>


<div class="main-content">
  <!-- <p>Please click the downward arrow to for expanded information; you will see the event agendas for the booking.</p> -->


  <div class="row module-header collapse">
    <div class="small-12 columns">
      <h2><%= @event_presenter.name %></h2>
      <p>This list shows only those who have <strong>paid</strong> and have <strong>not</strong> had their payment <strong>refunded</strong>.</p>
      <p>
        <%= link_to "Download CSV of bookings", event_event_bookings_path(format: :csv), target: "_blank", class: "button" %> |
        <%= link_to "View unpaid or refunded", unpaid_or_refunded_event_event_bookings_path(@event.id), class: "button" %>
      </p>

      <%= link_to 'View expanded details for each booking', event_agendas_event_event_bookings_path(@event.id), class: 'action-button' %>
    </div>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('small-3') { 'Name' } %>
    <%= list_item('small-2') { "Email" } %>
    <%= list_item('small-2') { "Payment Method" } %>
    <%= list_item { "Paid" } %>
    <%= list_item { "Refunded" } %>
    <%= list_item { "Attendees" } %>
    <%= list_item { 'View' } %>
  </div>

  <%= render partial: 'event_booking', collection: @event_bookings, as: :event_booking_presenter %>
  <%= paginate @event_bookings %>
</div>
