<%= render 'optimadmin/shared/header/main_title', title: "#{@event_presenter.name} Booking" %>

<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: event_event_bookings_path(@event.id), title: 'Paid Event Bookings' if @event_booking_presenter.paid == 'Yes' && @event_booking_presenter.refunded != 'Yes' %>
  <%= render 'optimadmin/shared/module/form/back', path: unpaid_or_refunded_event_event_bookings_path(@event.id), title: 'Unpaid or Refunded Event Bookings' if @event_booking_presenter.paid != 'Yes' || @event_booking_presenter.refunded == 'Yes' %>

  <%= @event_booking_presenter.payment_link %>
  <%= @event_booking_presenter.created_at %>

  <div>
    <h2>
      Booker Details
    </h2>

    <div class="row">
      <div class="small-3 columns">
        Name
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.name %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Phone Number
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.phone_number %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Email
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.email %>
      </div>
    </div>
  </div>

  <div>
    <h2>
      Company Details
    </h2>

    <div class="row">
      <div class="small-3 columns">
        Name
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.company_name %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Industry
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.industry %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Nature of Business
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.nature_of_business %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Address
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.address %>
      </div>
    </div>
  </div>

  <div>
    <h2>Attendee Details</h2>

    <div class="row">
      <div class="small-3 columns">
        Agendas
      </div>
      <div class="small-3 columns">
        Phone Number
      </div>
      <div class="small-3 columns">
        Email
      </div>
      <div class="small-3 columns">
        Dietary Requirements
      </div>
    </div>

    <% @event_booking_presenter.attendees.each do |attendee_presenter| %>
      <div class="row">
        <div class="small-3 columns">
          <ul>
            <% attendee_presenter.event_agendas.each do |event_agenda_presenter| %>
              <li><%= event_agenda_presenter.name %></li>
            <% end %>
          </ul>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.phone_number %>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.email %>
        </div>
        <div class="small-3 columns">
          <%= attendee_presenter.dietary_requirements %>
        </div>
      </div>
    <% end %>
  </div>

  <div>
    <h2>
      Payment Details
    </h2>

    <div class="row">
      <div class="small-3 columns">
        Cost (ex. VAT)
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.price_formatted %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        VAT
      </div>
      <div class="small-9 columns">
        <%= number_to_currency @event_booking_presenter.price * 0.2 %>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns">
        <strong>Total price</strong>
      </div>
      <div class="small-9 columns">
        <strong><%= number_to_currency (@event_booking_presenter.stripe_price / 100) %></strong>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        Paid
      </div>
      <div class="small-9 columns">
        <%= @event_booking_presenter.paid %>
      </div>
    </div>
    <% if @event_booking_presenter.paid? %>
      <div class="row">
        <div class="small-3 columns">
          Payment Method
        </div>
        <div class="small-9 columns">
          <%= @event_booking_presenter.payment_method %>
        </div>
      </div>
      <div class="row">
        <% if @event_booking_presenter.refunded? %>
          <div class="small-3 columns">
            Refunded
          </div>
          <div class="small-9 columns">
            <%= @event_booking_presenter.refunded %>
          </div>
        <% elsif @event_booking_presenter.stripe_charge_id.present? %>
          <p>This will refund <strong><%= number_to_currency (@event_booking_presenter.stripe_price / 100) %></strong>.</p>
          <div class="small-12 columns">
            <h3>Refund</h3>
            <%= form_for :refund, url: refund_event_event_booking_path(@event, @event_booking) do |f| %>
              <%= f.hidden_field :charge, value: @event_booking_presenter.stripe_charge_id %>
              <%= f.hidden_field :amount, value: @event_booking_presenter.stripe_price %>
              <div class="field">
                <%= f.label :reason %><br/>
                <%= f.select :reason, options_for_select(@event_booking_presenter.refund_reasons) %>
              </div>

              <div class="actions">
                <%= f.submit "Refund" %>
              </div>
            <% end %>
          </div>
        <% elsif @event_booking_presenter.stripe_payment_intent_id.present? %>
          <p>This will refund <strong><%= number_to_currency (@event_booking_presenter.stripe_price / 100) %></strong>.</p>
          <div class="small-12 columns">
            <h3>Refund</h3>
            <%= form_for :refund, url: refund_event_event_booking_path(@event, @event_booking) do |f| %>
              <%= f.hidden_field :charge, value: @event_booking_presenter.stripe_payment_intent_id %>
              <%= f.hidden_field :amount, value: @event_booking_presenter.stripe_price %>
              <div class="field">
                <%= f.label :reason %><br/>
                <%= f.select :reason, options_for_select(@event_booking_presenter.refund_reasons) %>
              </div>

              <div class="actions">
                <%= f.submit "Refund" %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class="small-12 columns">
            <h3>Cancel</h3>

            <p>This will <strong>cancel</strong> the booking.</p>
            <%= form_for :cancellation, url: cancel_event_event_booking_path(@event, @event_booking) do |f| %>
              <div class="actions">
                <%= f.submit "Cancel" %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
