<%= render 'optimadmin/shared/header/main_title', title: 'Manage Event Bookings' %>


<div class="main-content">
  <%= render 'optimadmin/shared/module/form/back', path: event_event_bookings_path, title: 'Paid Event Bookings' %>

  <div class="row module-header collapse">
    <div class="small-12 columns">
      <h2><%= @event_presenter.name %></h2>
      <p>These bookings have <strong>either</strong> been <strong>refunded</strong> <em>or</em> have <strong>not paid</strong>. Refunded bookings show before those who have not paid.</p>
    </div>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item('small-3') { 'Name' } %>
    <%= list_item('small-2') { "Email" } %>
    <%= list_item('small-2') { "Payment Method" } %>
    <%= list_item { "Paid" } %>
    <%= list_item { "Refunded" } %>
    <%= list_item { "Attendees" } %>
    <%= list_item { 'View' } %>
  </div>

  <%= render partial: 'event_booking', collection: @event_bookings, as: :event_booking_presenter %>
  <%= paginate @event_bookings %>
</div>
