<div class="row">
  <div class="small-12 section large columns" data-equalizer="row-content-box-1">
    <h2 class="full-header"><div>Chamber Group</div></h2>

    <div class="row">
      <div class="medium-4 small-12 columns">
        <div class="content-box international-trade"  data-equalizer-watch="row-content-box-1">
          <div class="content-box-area-title">
            <%= two_tone_title "International Trade" %>
          </div>

          <div class="inner text-center">
            <ul class="plain-list">
              <%= child_menu_items(menu_items: @page_types["international_trade"].last.side_menus.last.child_menu_items(@page_types["international_trade"].last).limit(9)) if @page_types["international_trade"].present? && @page_types["international_trade"].last.side_menus.present? %>
            </ul>
          </div>

          <div class="text-center">
            <%= link_to 'More on International Trade', @page_types["international_trade"], class: 'content-box-ghost-button' if @page_types["international_trade"].present? %>
          </div>

          <div class="button-text-center">
            <%= image_tag 'components/international-trade/aa-logo.png', class: 'AA Global' %>
          </div>
        </div>
      </div>

      <div class="medium-4 small-12 columns">
        <div class="content-box" data-equalizer-watch="row-content-box-1">
          <div class="content-box-area-title">
            <%= two_tone_title "Policy and Representation" %>
          </div>

          <div class="inner text-center">
            <ul class="plain-list">
              <%= child_menu_items(menu_items: @page_types["policy_and_representation"].last.side_menus.last.child_menu_items(@page_types["policy_and_representation"].last)) if @page_types["policy_and_representation"].present? && @page_types["policy_and_representation"].last.side_menus.present?  %>
            </ul>
          </div>

          <div class="button-text-center">
            <%= link_to 'More on Policy and Representation', @page_types["policy_and_representation"], class: 'content-box-ghost-button' if @page_types["policy_and_representation"].present? %>
          </div>
        </div>
      </div>

      <div class="medium-4 small-12 columns">
        <div class="chamber-information"  data-equalizer-watch="row-content-box-1">
          <div class="preview-first-home-item">
            <%= link_to '/pages/chamber-training-humber-ltd' do %>
              <div class="row collapse">
                <div class="small-6 columns">
                  <%= image_tag 'components/training/photo.jpg' %>
                </div>

                <div class="small-6 columns">
                  <div class="content">
                    <div class="title">
                      Hull & East Yorkshire LSIP
                    </div>

                    <p class="summary">
                      Chamber chosen to lead delivery in region
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="separator bottom"></div>
          </div>

          <div class="preview-second-home-item">
            <div class="separator top"></div>
            <%= link_to '/pages/chamber-acorn-fund-9ec348f6-7be1-48b5-a3a7-8beb9794db70' do %>
              <div class="row collapse">
                <div class="small-6 columns acorn-logo">
                  <%= image_tag 'components/acorn/logo.jpg', alt: 'Chamber Acorn Fund' %>
                </div>

                <div class="small-6 columns">
                  <div class="content">
                    <div class="title">
                      Chamber <span class="secondary">Acorn Fund</span>
                    </div>

                    <p class="summary">
                      Access to business and finance help
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
