<section class="home">
  <div class="row collapse">
    <div class="small-11 slider-focus medium-5 columns">
      <% if @presented_events.present? %>
        <div class="home-events">
          <%= render partial: 'application/home_slider/content_preview', collection: @presented_events, as: :module_presenter %>
        </div>
      <% end %>

      <% if @presented_articles.present? %>
        <div class="home-articles" class="hide">
          <%= render partial: 'application/home_slider/content_preview', collection: @presented_articles, as: :module_presenter %>
        </div>
      <% end %>

      <% if @presented_members_offers.present? %>
        <div class="home-members-offers" class="hide">
          <%= render partial: 'application/home_slider/content_preview', collection: @presented_members_offers, as: :module_presenter %>
        </div>
      <% end %>
    </div>

    <div class="small-12 medium-7 columns">
      <ul class="content-focus-tabs">
        <% if @presented_events.present? %>
          <li class="active">
            <%= link_to 'Events', '#', data: { slider: '.home-events' } %>
          </li>
        <% end %>

        <% if @presented_articles.present? %>
          <li>
            <%= link_to 'News', '#', data: { slider: '.home-articles' } %>
          </li>
        <% end %>

        <% if @presented_members_offers.present? %>
          <li>
            <%= link_to "Members' Offers", '#', data: { slider: '.home-members-offers' } %>
          </li>
        <% end %>
      </ul>

      <div class="scrolling-slider">
        <div class="navigation text-center">
          <%= link_to (image_tag 'layout/home/arrow-up.png'), '#', class: 'home-arrow-up' %>
        </div>

        <div class="home-events content">
          <%= render partial: 'application/home_slider/link_list', collection: @presented_events, as: :module_presenter %>
        </div>

        <div class="home-articles content hide">
          <%= render partial: 'application/home_slider/link_list', collection: @presented_articles, as: :module_presenter %>
        </div>

        <div class="home-members-offers content hide">
          <%= render partial: 'application/home_slider/link_list', collection: @presented_members_offers, as: :module_presenter %>
        </div>

        <div class="navigation text-center">
          <%= link_to (image_tag 'layout/home/arrow-down.png'), '#', class: 'home-arrow-down' %>
        </div>
      </div>
    </div>
  </div>
</section>
