<%= @internal_promotions.leaderboard('Home - Members Area', 'section small')  if @internal_promotions.present? %>

<div class="row">
  <div class="small-12 section large columns" data-equalizer="row-content-box">
    <h2 class="full-header members-header"><div>Members' Area</div></h2>

    <div class="home-member-buttons hide-for-small">
      <%= render 'shared/member_buttons' %>
    </div>

    <div class="row">
      <div class="medium-4 small-12 columns">
        <div class="content-box"  data-equalizer-watch="row-content-box">
          <div class="content-box-area-title">
            <%= two_tone_title "Members' News" %>
          </div>

          <div class="inner">
            <ul class="plain-list news">
              <%= render partial: 'articles/simple_list', collection: @presented_member_news, as: :article_presenter %>
            </ul>
          </div>

          <div class="button-text-center">
            <%= link_to 'See All', @member_news, class: 'content-box-ghost-button' %>
          </div>
        </div>
      </div>

      <div class="medium-4 small-12 columns">
        <div class="content-box" data-equalizer-watch="row-content-box">
          <div class="content-box-area-title">
            <%= two_tone_title "Members' Services" %>
          </div>

          <div class="inner text-center">
            <ul class="plain-list">
              <%= child_menu_items(menu_items: @page_types["members_services"].last.side_menus.last.child_menu_items(@page_types["members_services"].last).offset(2)) if @page_types["members_services"].last.side_menus.present? %>
            </ul>
          </div>
          <div class="button-text-center">
            <%= link_to 'See All', @page_types["members_services"], class: 'content-box-ghost-button' if @page_types["members_services"].present? %>
          </div>
        </div>
      </div>

      <div class="medium-4 small-12 columns">
        <div class="members-information"  data-equalizer-watch="row-content-box">
          <div class="preview-members-directory">
            <%= link_to (image_tag 'components/members/directory-a-z.png', alt: 'Members A to Z'), members_path, title: 'Members A to Z' %>


            <%= link_to (two_tone_title "Members' Directory"), members_path, title: "Members' Directory", class: 'title' %>
          </div>

          <div class="preview-second-home-item">
            <%= link_to magazines_path do %>
              <div class="row collapse">
                <div class="small-6 columns">
                  <%= @magazine.preview %>
                </div>

                <div class="small-6 columns">
                  <div class="content">
                    <div class="magazines-title title">
                      <%= two_tone_title "Business Intelligence Magazine" %>
                    </div>

                    <p class="summary">
                      Publicise your business with free articles inside
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
