<div class="home-patrons">
  <div class="row">
    <div class="small-12 columns">
      <h2 class="full-header"><div>Patrons</div></h2>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="patron-logos text-center">
        <%= image_tag 'http://placehold.it/87x57' %>
        <%= image_tag 'http://placehold.it/110x60' %>
        <%= image_tag 'http://placehold.it/110x60' %>
        <%= image_tag 'http://placehold.it/87x57' %>
        <%= image_tag 'http://placehold.it/87x57' %>
      </div>
    </div>
  </div>
</div>
