<%= form_for(additional_content) do |f| %>
  <% if additional_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(additional_content.errors.count, "error") %> prohibited this additional_content from being saved:</h2>

      <ul>
        <% additional_content.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>

  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :area %><br>
        <%= f.select :area, AdditionalContent::AREAS %>
      </div>
      <div class="field">
        <%= f.label :content %><br>
        <%= f.text_area :content, class: 'tinymce' %>
      </div>

      <div class="field">
        <%= f.label :button_link %><br />
        <%= f.text_field :button_link %>
      </div>

      <div class="field">
        <%= f.label :button_text %><br>
        <%= f.text_area :button_text, class: 'tinymce' %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
    <%= f.submit "Save and continue editing" %>
  </div>
<% end %>
