<aside class="aside-content-wrap">
  <h3>Events</h3>


  <div class="aside-item">
    <div class="date">
      01/07/2015
    </div>

    <div class="title">
      <%= link_to 'Britain in South East Asia', '#' %>
    </div>
  </div>

  <div class="aside-item">
    <div class="date">
      01/07/2015
    </div>

    <div class="title">
      <%= link_to 'Britain in South East Asia', '#' %>
    </div>
  </div>

  <div class="text-center">
    <%= link_to 'See All', '#', class: 'content-box-ghost-button aside' %>
  </div>
</aside>

<aside class="aside-content-wrap">
  <h3>Events</h3>


  <div class="aside-item">
    <div class="date">
      01/07/2015
    </div>

    <div class="title">
      <%= link_to 'Britain in South East Asia', '#' %>
    </div>
  </div>

  <div class="aside-item">
    <div class="date">
      01/07/2015
    </div>

    <div class="title">
      <%= link_to 'Britain in South East Asia', '#' %>
    </div>
  </div>

  <div class="text-center">
    <%= link_to 'See All', '#', class: 'content-box-ghost-button aside' %>
  </div>
</aside>
