<aside class="aside-content-wrap">
  <h3><span>Events</span></h3>
  
  <%= render partial: 'shared/aside_link_list', collection: @presented_events, as: :module_presenter %>

  <div class="text-center">
    <%= link_to 'See All', events_path, class: 'content-box-ghost-button aside' %>
  </div>
</aside>

<aside class="aside-content-wrap">
  <h3><%= @article.present? ? two_tone_title(@article.article_category.title) : '<span>News</span>'.html_safe %></h3>

  <%= render partial: 'shared/aside_link_list', collection: @presented_articles, as: :module_presenter %>

  <div class="text-center">
    <%= link_to 'See All', (@article.present? ? @article.article_category : articles_path), class: 'content-box-ghost-button aside' %>
  </div>
</aside>

<aside class="aside-content-wrap">
  <h3><%= two_tone_title "Members' Offers" %></h3>

  <%= render partial: 'shared/aside_member_offers_list', collection: @presented_members_offers, as: :module_presenter %>

  <div class="text-center">
    <%= link_to 'See All', members_offers_path, class: 'content-box-ghost-button aside' %>
  </div>
</aside>
