<div class="event-agenda">
  <div class="row">
    <div class="small-12 columns">
      <div class="event-agenda-title">
        <%= event_agenda_presenter.name %>
      </div>

      <div class="row">
        <div class="small-12 columns">
          <div class="event-agenda-description">
            <%= event_agenda_presenter.description %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns event-agenda-heading">
          Category
        </div>
        <div class="small-3 columns event-agenda-heading">
          Start Time
        </div>
        <div class="small-3 columns event-agenda-heading">
          End Time
        </div>
        <div class="small-3 columns event-agenda-heading">
          Price
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <%= event_agenda_presenter.event_category_name %>
        </div>
        <div class="small-3 columns">
          <%= event_agenda_presenter.start_time(:short) %>
        </div>
        <div class="small-3 columns">
          <%= event_agenda_presenter.end_time(:short) %>
        </div>
        <div class="small-3 columns">
          <%= event_agenda_presenter.price %>
        </div>
      </div>
    </div>
  </div>
</div>
