 <%= content_for :footer do %>
  <script src="https://js.stripe.com/v3/"></script>

  <script>
    $(function() {
      var stripe = Stripe('<%= ENV['CHAMBER_OF_COMMERCE_PUBLISHABLE_KEY'] %>');
        var elements = stripe.elements();
        var cardElement = elements.create('card');
        cardElement.mount('#card-element');

        var cardholderName = document.getElementById('cardholder-name');
        var cardButton = document.getElementById('card-button');
        var clientSecret = cardButton.dataset.secret;

        cardElement.addEventListener('change', function(event) {
          var displayError = document.getElementById('card-errors');
          if (event.error) {
            displayError.textContent = event.error.message;
          } else {
            displayError.textContent = '';
          }
        });

        cardButton.addEventListener('click', function(ev) {
          ev.preventDefault();

          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = 'Loading...';

          stripe.handleCardPayment(
            clientSecret, cardElement, {
              payment_method_data: {
                billing_details: {name: cardholderName.value}
              }
            }
          ).then(function(result) {
            if (result.error) {
              // Inform the user if there was an error.
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = result.error.message;
            } else {
              var errorElement = document.getElementById('card-errors');
              errorElement.textContent = '';
              stripeTokenHandler(result);
            }
          });
        });
    });

    // Submit the form with the token ID.
    function stripeTokenHandler(result) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.getElementById('stripe_payment_intent_id');
      hiddenInput.setAttribute('value', result.paymentIntent.id);
      // Submit the form
      form.submit();
    }
  </script>
<% end %>

<div class="content-area">
  <div class="row">
    <div class="small-12 columns">
      <div class="main-content-wrap">
        <%= render(partial: 'shared/flash_messages') %>

        <% if @facade.additional_content? %>
          <% present @facade.additional_content do |presenter| %>
            <h1><%= presenter.title %></h1>

            <div class="content">
              <%= presenter.content %>
            </div>
          <% end %>
        <% end %>

        <div class="event-charges-payment-summary">
          <div class="row">
            <div class="medium-2 columns">
              Amount (ex. VAT):
            </div>
            <div class="medium-10 columns">
              <%= number_to_currency(@facade.payment.total_ex_vat) %>
            </div>
          </div>

          <div class="row">
            <div class="medium-2 columns">
              VAT:
            </div>
            <div class="medium-10 columns">
              <%= number_to_currency(@facade.payment.total_vat) %>
            </div>
          </div>

          <div class="row">
            <div class="medium-2 columns">
              <strong>Total (inc. VAT):</strong>
            </div>
            <div class="medium-10 columns">
              <label class="amount">
                <span><%= number_to_currency(@facade.payment.total_inc_vat) %></span>
              </label>
            </div>
          </div>
        </div>

        <div class="payment-info">
          Please ensure you have your card holder's name and address, the card number, expiry date and CVC code ready for the payment of <strong><%= number_to_currency((@facade.payment.stripe_price.to_f / 100).to_f) %></strong>.
        </div>

        <% if @charge.present? %>
          <%= form_tag memberships_payment_charges_path(@facade.payment), id: 'payment-form' do %>
            <label for="cardholder-name">
              Cardholder name
            </label>
            <input id="cardholder-name" type="text">

            <div class="form-row">
              <label for="card-element">
                Credit or debit card
              </label>
              <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
              </div>

              <!-- Used to display form errors. -->
              <div id="card-errors" role="alert"></div>
            </div>

            <%= hidden_field_tag :stripe_payment_intent_id %>

            <button id="card-button" data-secret="<%= @charge.client_secret %>">Submit Payment</button>
          <% end %>
        <% end %>


        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:company_name) %></strong><br />
          <%= @facade.payment.company_name %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:address_line_1) %></strong><br />
          <%= @facade.payment.address_line_1 %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:address_line_2) %></strong><br />
          <%= @facade.payment.address_line_2 %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:city) %></strong><br />
          <%= @facade.payment.city %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:county) %></strong><br />
          <%= @facade.payment.county %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:postcode) %></strong><br />
          <%= @facade.payment.postcode %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:business_activity) %></strong><br />
          <%= @facade.payment.business_activity %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:number_of_employees) %></strong><br />
          <%= @facade.payment.number_of_employees %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:website) %></strong><br />
          <%= @facade.payment.website %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:telephone) %></strong><br />
          <%= @facade.payment.telephone %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:legal_status) %></strong><br />
          <%= @facade.payment.legal_status %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:business_start_date) %></strong><br />
          <%= @facade.payment.business_start_date %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:linkedin) %></strong><br />
          <%= @facade.payment.linkedin %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:twitter) %></strong><br />
          <%= @facade.payment.twitter %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:facebook) %></strong><br />
          <%= @facade.payment.facebook %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:instagram) %></strong><br />
          <%= @facade.payment.instagram %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_title) %></strong><br />
          <%= @facade.payment.primary_contact_title %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_forename) %></strong><br />
          <%= @facade.payment.primary_contact_forename %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_surname) %></strong><br />
          <%= @facade.payment.primary_contact_surname %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_role) %></strong><br />
          <%= @facade.payment.primary_contact_role %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_telephone) %></strong><br />
          <%= @facade.payment.primary_contact_telephone %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:primary_contact_email_address) %></strong><br />
          <%= @facade.payment.primary_contact_email_address %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:company_number) %></strong><br />
          <%= @facade.payment.company_number %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:vat_number) %></strong><br />
          <%= @facade.payment.vat_number %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_title) %></strong><br />
          <%= @facade.payment.accounts_contact_title %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_forename) %></strong><br />
          <%= @facade.payment.accounts_contact_forename %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_surname) %></strong><br />
          <%= @facade.payment.accounts_contact_surname %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_role) %></strong><br />
          <%= @facade.payment.accounts_contact_role %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_telephone) %></strong><br />
          <%= @facade.payment.accounts_contact_telephone %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:accounts_contact_email_address) %></strong><br />
          <%= @facade.payment.accounts_contact_email_address %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:how_heard_ids) %></strong><br />
          <%= @facade.payment.how_heard_titles %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:join_reason_ids) %></strong><br />
          <%= @facade.payment.join_reason_titles %>
        </p>

        <p>
          <strong><%= Memberships::Payment.human_attribute_name(:memberships_package_title) %></strong><br />
          <%= @facade.payment.memberships_package_title %>
        </p>
      </div>
    </div>
  </div>
</div>
