<div class="row event-charges-attendee-headings">
  <div class="small-12 columns">
    Name
  </div>
</div>
<div class="event-charges-attendee-details">
  <div class="row <%= cycle("light", "dark") %>">
    <div class="small-12 columns">
      <%= presented_attendee.name %>
    </div>
  </div>
</div>
<div class="row event-charges-attendee-headings">
  <div class="small-6 medium-3 columns">
    Phone Number
  </div>
  <div class="small-6 medium-3 columns">
    Email
  </div>
  <div class="small-6 medium-3 columns">
    Dietary Requirements
  </div>
  <div class="small-6 medium-3 columns">
    Event Agendas
  </div>
</div>
<div class="event-charges-attendee-details">
  <div class="row <%= cycle("light", "dark") %>">
    <div class="small-6 medium-3 columns">
      <%= presented_attendee.phone_number %>
    </div>
    <div class="small-6 medium-3 columns">
      <%= presented_attendee.email %>
    </div>
    <div class="small-6 medium-3 columns">
      <%= presented_attendee.dietary_requirements %>
    </div>
    <div class="small-6 medium-3 columns">
      <%= presented_attendee.event_agendas %>
    </div>
  </div>
</div>
