<div class="event-agenda-attendee-fields nested-fields">
  <%= f.hidden_field :id %>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :forename %>
        <%= f.text_field :forename %>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :surname %>
        <%= f.text_field :surname %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :phone_number %><br/>
        <%= f.text_field :phone_number %>
      </div>
    </div>

    <div class="small-12 medium-6 columns">
      <div class="field">
        <%= f.label :email %><br/>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label :dietary_requirements %><br/>
    <%= f.text_area :dietary_requirements %>
  </div>

  <div class="field event-agenda-checkbox-selects">
    <% if @event.event_agendas.count === 1 %>
      <div class="hide">
    <% end %>

    <%= f.collection_check_boxes(:event_agenda_ids, @event.event_agendas, :id, :name, {}) do |b| %>
      <div class="event-agenda-checkbox-select">
        <%= b.label(for: "event-agenda-checkbox-#{ b.object.id }") do %>
          <%= "#{ b.object.name } - #{ event_agenda_price(b.object.price) }  (inc. VAT)" %>
        <% end %>

        <% if b.object.must_book == true %>
          (required to attend)
          <%= b.check_box(id: "event-agenda-checkbox-#{ b.object.id }", checked: true, onclick: 'this.checked=!this.checked;') %><br/>
        <% else %>
          <%= b.check_box(id: "event-agenda-checkbox-#{ b.object.id }", checked: true) %><br/>
        <% end %>
      </div>
    <% end %>

    <% if @event.event_agendas.count === 1 %>
      </div>
    <% end %>
  </div>
  <%= link_to "Populate with main booker details", "#", onclick: "setMainBookerDetails()", class: "booker-population" %>
  <%= link_to_remove_association "Remove Attendee", f %>
</div>
