<%= form_for(event_agenda) do |f| %>
<% if event_agenda.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(event_agenda.errors.count, "error") %> prohibited this event_agenda from being saved:</h2>

    <ul>
      <% event_agenda.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>



  <div class="tabs prevent-flash">
    <ul class="tab-list">
      <li><a href="#tabs-1">Content</a></li>
      <li>
        <%= link_to '#', class: 'destroy-tabs right', data: { class: 'tabs' } do %>
          <%= octicon('chevron-down') %>
        <% end %>
      </li>
    </ul>

    <%= field_set_tag nil, id: 'tabs-1' do %>
      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :event_category_id, "Category" %><br>
        <%= f.select :event_category_id, closure_tree_select(EventCategory.select(:name, :id)) %>
      </div>

      <div class="field">
        <%= f.label :start_time %><br>
        <%= f.time_select :start_time, { start_hour: 7, end_hour: 19 }, class: 'display-inline width-auto' %>
      </div>

      <div class="field">
        <%= f.label :end_time %><br>
        <%= f.time_select :end_time, { start_hour: 7, end_hour: 19 }, class: 'display-inline width-auto' %>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <%= f.text_area :description, class: 'tinymce' %>
      </div>

      <div class="field">
        <%= f.label :maximum_capacity %><br>
        <%= f.number_field :maximum_capacity %>
      </div>

      <div class="field">
        <%= f.label :price %><br>
        <%= f.number_field :price, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :table_discount, "Table Discount (percentage)" %><br>
        <%= f.number_field :table_discount, step: 0.01 %>
      </div>

      <div class="field">
        <%= f.label :table_size %><br>
        <%= f.number_field :table_size, step: 1 %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.hidden_field :event_id, value: (params[:event_id] || @event.id) %>
    <%= f.submit %>
  </div>
<% end %>
