<%= render 'optimadmin/shared/header/main_title', title: 'Manage Event Agendas' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/form/back', path: events_path, title: 'Events', prefix: 'Back to' %>

    <%= render 'optimadmin/shared/module/index/new_item', title: 'Event Agenda', object: EventAgenda, path: new_event_agenda_path(event_id: @event.id) if EventCategory.count >= 1 %>
    <%#= render 'optimadmin/shared/search_form' %>
    <%#= render 'optimadmin/shared/module/index/pagination' %>
    <%#= render 'optimadmin/shared/module/index/order', options: [['Username', 'username']] %>
    <%#= render 'optimadmin/shared/module/index/recycle_bin', items: @event_agendas.size, path: root_url %>
  </div>

  <% unless EventCategory.count >= 1 %>
    <p>Please create an <%= link_to 'event category', event_categories_path %> before creating an event agenda.</p>
  <% end %>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-1 small-2' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
    <% end %>

    <%= list_item 'large-4 small-4' do 'Name' end %>

    <%= list_item 'large-3 small-4' do 'Category' end %>
    <%= list_item 'large-1 small-4' do 'Start' end %>
    <%= list_item 'large-1 small-4' do 'End' end %>

    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'event_agenda', collection: @event_agendas, as: :event_agenda_presenter %>
  <%= paginate @event_agendas %>
</div>
