<div class="list-item-with-image">
  <div class="row">
    <div class="small-12 medium-4 columns">
      <%= event_presenter.linked_index_image %>
    </div>

    <div class="small-12 medium-8 columns">
      <%= event_presenter.linked_title(class: 'list-item-with-image-title') %>

      <div class="main-details">
        <%= @presented_event.dates %>
        Location <strong><%= event_presenter.location %></strong>
      </div>

      <div class="small-details">
        <% event_presenter.event_categories.uniq.each do |event_category| %>
          <%= link_to event_category.name, events_path(event_categories_id: event_category.id) %><%= ', ' unless event_category == event_presenter.event_categories.last %>
        <% end %>
      </div>

      <%= event_presenter.summary %>

      <%= event_presenter.read_more %>
    </div>
  </div>
</div>
