<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_event.name %></h1>

        <%= render "shared/flash_messages" %>

        <div class="main-details">
          Start <strong><%= @presented_event.start_date %></strong>
          End <strong><%= @presented_event.end_date %></strong>
          Location <strong><%= @presented_event.location %></strong>
        </div>

        <div class="small-details">
          <% @presented_event.event_categories.each do |event_category| %>
            <%= link_to event_category.name, events_path(event_categories_id: event_category.id) %><%= ', ' unless event_category == @presented_event.event_categories.last %>
          <% end %>
        </div>

        <div class="content">
          <%= @presented_event.image %>
          <%= @presented_event.description %>
        </div>

        <% unless @presented_event_agendas.blank? %>
          <h3>Agenda</h3>

          <%= render partial: "event_agendas/event_agenda", collection: @presented_event_agendas, as: :event_agenda_presenter %>
        <% end %>

        <%= @presented_event.booking_button %>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>

