<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_event.name %></h1>

        <%= render "shared/flash_messages" %>

        <div class="main-details">
          Start <strong><%= @presented_event.start_date %></strong>
          End <strong><%= @presented_event.end_date %></strong>
          Location <strong><%= @presented_event.location %></strong>
        </div>

        <div class="small-details">
          <% @presented_event.event_categories.each do |event_category| %>
            <%= link_to event_category.name, events_path(event_categories_id: event_category.id) %><%= ', ' unless event_category == @presented_event.event_categories.last %>
          <% end %>
        </div>

        <div class="content">
          <%= @presented_event.image %>
          <%= @presented_event.description %>
        </div>

        <% unless @presented_event_agendas.blank? %>
          <h3>Agenda</h3>
          <div class="row">
            <div class="small-8 medium-4 columns">
              Name
            </div>
            <div class="medium-4 hide-for-small-only columns">
              Category
            </div>
            <div class="small-2 columns">
              Start Time
            </div>
            <div class="small-2 columns">
              End Time
            </div>
          </div>
          <% @presented_event_agendas.each do |event_agenda_presenter| %>
            <div class="row event-agenda">
              <div class="small-8 medium-4 columns">
                <%= event_agenda_presenter.name %>
              </div>
              <div class="medium-4 hide-for-small-only columns">
                <%= event_agenda_presenter.event_category_name %>
              </div>
              <div class="small-2 columns">
                <%= event_agenda_presenter.start_time(:short) %>
              </div>
              <div class="small-2 columns">
                <%= event_agenda_presenter.end_time(:short) %>
              </div>
            </div>
          <% end %>
        <% end %>

        <%= @presented_event.booking_button %>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>

