<section class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_event.name %></h1>

        <%= render "shared/flash_messages" %>

        <div class="main-details">
          <%= @presented_event.dates %>
          Location <strong><%= @presented_event.location %></strong>
        </div>

        <div class="content">
          <%= @presented_event.image %>
          <%= @presented_event.description %>
        </div>

        <% unless @presented_event_agendas.blank? %>
          <h3>Agenda</h3>

          <%= render partial: "event_agendas/event_agenda", collection: @presented_event_agendas, as: :event_agenda_presenter %>
        <% end %>


        <% if @presented_event_agendas.count > 1 %>
          <p>You will be able to decide which event agendas you wish to attend during the event agendas.</p>
        <% end %>

        <%= @presented_event.booking_button %>

        <% if @presented_event.booking_deadline.present? && @presented_event.booking_deadline <= Time.zone.now %>
          <p>Bookings are no longer being taken for this event.</p>
        <% elsif @presented_event.booking_deadline.present? && @presented_event.booking_deadline > Time.zone.now %>
          <p>The deadline for bookings is <strong><%= @presented_event.booking_deadline(:long) %></strong>.</p>
        <% end %>
      </div>
    </div>

    <div class="medium-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
