<section class="content-area">
  <div class="row">
    <div class="large-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @page.title %></h1>

        <div class="content">
          <%= @page.image %>

          <%= @page.content %>
        </div>
      </div>
    </div>

    <div class="large-4 small-12 columns">
      <aside class="aside-content-wrap">
        <h3><span>Events</span></h3>

        <ul>
          <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
        </ul>
      </aside>

      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
