<%= form_for(:member_sessions, url: authenticate_member_sessions_path)  do |f| %>
  <%= render 'shared/flash_messages' %>

  <%= field_set_tag 'Login' do %>
    <div class="fields">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: 'Username' %>

          <div class="text-right">
            <%= link_to 'Forgotten your username?', new_member_password_reset_path %>
          </div>
        </div>

        <div class="small-12 medium-6 columns">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password' %>

          <div class="text-right">
            <%= link_to 'Forgotten your password?', new_member_password_reset_path %>
          </div>
        </div>
      </div>
    </div>

    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>


    <div class="member-sessions-create-account">
      <p>If you do not have an account, <%= link_to 'click here to create one', new_member_login_path, class: 'colorbox' %>.</p>
    </div>

    <%= f.submit 'Login', class: 'button' %>
  <% end %>
<% end %>
