<%= form_for(:member_sessions, url: authenticate_member_sessions_path)  do |f| %>
  <%= render 'shared/flash_messages' %>

  <%= field_set_tag 'Login' do %>
    <div class="fields">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :username %>
          <%= f.text_field :username, placeholder: 'Username' %>
        </div>

        <div class="small-12 medium-6 columns">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>
      </div>
    </div>

    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>


    <p>If you do not have an account, <%= link_to 'register for website', new_member_login_path, class: 'colorbox' %>.</p>

    <%= f.submit 'Login', class: 'button' %>
  <% end %>
<% end %>
