<%= form_tag member_password_resets_path do %>
  <%= field_set_tag 'Reset password' do %>
    <div class="fields">
      <div class="row">
        <div class="small-12 medium-12 columns">
          <%= label_tag :email_address %>
          <%= email_field_tag :email_address, nil, placeholder: 'Member email address' %>
        </div>
      </div>
    </div>

    <%= submit_tag 'Reset password', class: 'button' %>
  <% end %>
<% end %>
