<%= form_for @member_login, url: update_member_password_reset_path(@member_login.password_reset_token) do |f| %>
  <% if @member_login.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member_login.errors.count, "error") %> prohibited your member account being created:</h2>

      <ul>
        <% @member_login.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Change password' do %>

    <div class="fields">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <%= f.label :password %>
          <%= f.password_field :password, placeholder: 'Password' %>
        </div>

        <div class="small-12 medium-6 columns">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, placeholder: 'Password confirmation' %>
        </div>
      </div>
    </div>

    <%= f.submit 'Update account', class: 'button' %>
  <% end %>
<% end %>
