<%= render 'optimadmin/shared/header/main_title', title: 'Manage Events' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Event', object: Event, path: new_event_path if EventLocation.count >= 1 %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Name', 'name'], ['Start Date', 'start_date']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @events.size, path: root_url %>
  </div>

  <% unless EventLocation.count >= 1 %>
    <p>Please create an <%= link_to 'event location', event_locations_path %> before creating an event.</p>
  <% end %>


  <div class="row collapse module-list-index header">
    <%= list_item 'large-1 small-2' do %>
      <%= link_to octicon('chevron-down'), '#', class: 'helper-link index-list-expand-all', data: { this_class: 'octicon-chevron-up octicon-chevron-down' } %>
    <% end %>

    <%= list_item 'large-3 small-4' do 'Name' end %>

    <%= list_item 'large-2 small-4' do 'Event Agendas' end %>

    <%= list_item 'large-2 hide-for-medium-down' do 'Image' end %>

    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'event', collection: @events, as: :event_presenter %>
  <%= paginate @events %>
</div>
