<%= render 'optimadmin/shared/header/main_title', title: 'Manage Events' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Event', object: Event, path: new_event_path if EventLocation.count >= 1 %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Name', 'name'], ['Start Date', 'start_date'], ['End Date', 'end_date']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @events.size, path: root_url %>
  </div>

  <% unless EventLocation.count >= 1 %>
    <p>Please create an <%= link_to 'event location', event_locations_path %> before creating an event.</p>
  <% end %>


  <div class="row collapse module-list-index header">

    <%= list_item('large-3 small-6') { 'Name' } %>

    <%= list_item('large-2 small-4') { 'Event Agendas' } %>
    <%= list_item('large-2 small-4') { 'Bookings' } %>

    <%= list_item('large-1 hide-for-medium-down') { 'Image' } %>

    <%= list_item { 'Display' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item('large-1 hide-for-medium-down text-center last') { 'Delete' } %>
  </div>

  <%= render partial: 'event', collection: @events, as: :event_presenter %>
  <%= paginate @events %>
</div>
