<%= form_for(model) do |f| %>
  <%= render(partial: 'optimadmin/shared/form_errors', locals: { model: model }) %>

  <%= render(partial: 'form_fields', locals: { f: f }) %>

  <div class="actions">
    <%= f.submit 'Save' %>
    <%= f.submit 'Save and continue editing' %>
  </div>
<% end %>
