<%= render 'optimadmin/shared/header/main_title', title: 'Manage Internal Promotions' %>

<div class="main-content">
  <div class="row module-header collapse">
    <%= render 'optimadmin/shared/module/index/new_item', title: 'Internal Promotion', object: InternalPromotion, path: new_internal_promotion_path %>
    <%= render 'optimadmin/shared/search_form' %>
    <%= render 'optimadmin/shared/module/index/pagination' %>
    <%= render 'optimadmin/shared/module/index/order', options: [['Area', 'area'], ['Name', 'name']] %>
    <%= render 'optimadmin/shared/module/index/recycle_bin', items: @internal_promotions.size, path: root_url %>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-4 small-4' do 'Name' end %>
    <%= list_item 'large-4 small-4' do 'Area' end %>

    <%= list_item 'large-1 hide-for-medium-down' do 'Image' end %>

    <%= list_item { 'Display' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'internal_promotion', collection: @internal_promotions, as: :internal_promotion_presenter %>
</div>
