<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= member_presenter.id %>">
  <div class="large-1 small-2 columns" data-equalizer-watch="module-list">
    <%= member_presenter.detail_toggle_link %>
  </div>

  <div class="large-4 small-4 columns" data-equalizer-watch="module-list">
    <%= member_presenter.title %>
  </div>

  <div class="large-3 hide-for-small columns" data-equalizer-watch="module-list">
    <%= member_presenter.edit_member_login %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= member_presenter.toggle_link(:verified) %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= member_presenter.show_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= member_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= member_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= member_presenter.id %>">
    <div class="small-12 columns module-list-summary last">

    </div>
  </div>
</div>
