<%= render 'optimadmin/shared/header/main_title', title: 'Import Members' %>

<div class="main-content">
  <%= form_for @member_import, url: import_members_path, multipart: true do |f| %>

    <% if @member_import.errors.any? %>
      <div class="flash-wrap">
        <div class="flash-message notice">
          <%= @member_import.imported_count %> records imported, <%= @member_import.updated_count %> records updated
        </div>
      </div>
      <div id="error_explanation">
        <h2><%= pluralize(@member_import.errors.count, "error") %> with your csv file:</h2>

        <ul>
          <% @member_import.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.file_field :file %>
    </div>

    <div class="actions">
      <%= f.submit "Upload" %>
    </div>
  <% end %>

  <% if @members.present? %>

    <p>The following members did not appear within the last CSV upload, please consider whether you would like to delete them.</p>

    <p>You can toggle the status of these by setting 'In CSV' to 'Yes', which will exclude it from the delete all.</p>

    <div class="row collapse module-list-index header">
      <%= list_item 'large-4 small-6' do 'Company Name' end %>
      <%= list_item 'large-3 hide-for-small' do 'Member login' end %>
      <%= list_item { 'In CSV' } %>
      <%= list_item { 'Verified' } %>
      <%= list_item { 'View' } %>
      <%= list_item { 'Edit' } %>

      <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
    </div>

    <%= render partial: 'import_member', collection: @members, as: :member_presenter %>

    <p>You can delete all of the above records at once by pressing the button below.</p>

    <%= link_to 'Delete All', destroy_non_csv_members_path, class: 'action-button' %>

  <% end %>
</div>
