<%= render 'optimadmin/shared/header/main_title', title: 'Manage Members' %>

<div class="main-content">
  <div class="row module-header collapse">
    <div class="small-4 columns">
      <%= render 'optimadmin/shared/module/form/back', path: members_path, title: 'Member' %>
    </div>
    <div class="small-8 columns">
      <%= render 'optimadmin/shared/search_form' %>
      <%= render 'optimadmin/shared/module/index/pagination' %>
      <%= render 'optimadmin/shared/module/index/order', options: [['Company name', 'company_name asc'], ['Verified first', 'verified ASC'], ['Unverified first', 'verified DESC']] %>
      <%= render 'optimadmin/shared/module/index/recycle_bin', items: @members.size, path: root_url %>
    </div>
  </div>

  <div class="row collapse module-list-index header">
    <%= list_item 'large-5 small-6' do 'Company Name' end %>
    <%= list_item 'large-3 hide-for-small' do 'Member login' end %>

    <%= list_item { 'Verified' } %>
    <%= list_item { 'View' } %>
    <%= list_item { 'Edit' } %>

    <%= list_item 'large-1 hide-for-medium-down text-center last' do 'Delete' end %>
  </div>

  <%= render partial: 'member', collection: @members, as: :member_presenter %>
  <%= paginate @members %>
</div>
