<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= member_offer_presenter.id %>">


    <div class="large-3 small-8 columns" data-equalizer-watch="module-list">
      <%= member_offer_presenter.toggle_title %>
    </div>

  <div class="large-3 small-6 columns" data-equalizer-watch="module-list">
    <%= member_offer_presenter.title %>
  </div>


    <div class="large-2 hide-for-medium-down columns" data-equalizer-watch="module-list">
      <%= member_offer_presenter.edit_image(:image) %>
    </div>


  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= member_offer_presenter.toggle_link(:verified) %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%#= member_offer_presenter.show_link %>
  </div>

  <div class="large-1 small-4 columns" data-equalizer-watch="module-list">
    <%= member_offer_presenter.edit_link %>
  </div>

  <div class="large-1 hide-for-medium-down columns last" data-equalizer-watch="module-list">
    <%= member_offer_presenter.delete_link %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= member_offer_presenter.id %>">
    <div class="small-12 columns module-list-summary last">
      <%= member_offer_presenter.summary %>
    </div>
  </div>
</div>
