<%= render 'application/shared/home_slider_area' %>

<div class="row">
  <div class="small-10 columns section small small-centered">
    <%= image_tag 'http://placehold.it/728x90' %>
  </div>
</div>

<%= render 'application/shared/members_area' %>
<%= render 'application/shared/chamber_group' %>
<%= render 'application/shared/about_the_chamber_slider' %>
<%= render 'application/shared/patrons' %>
<%= render 'application/shared/social_area' %>
