<section class="content-area">
  <div class="row">
    <div class="small-12 columns">
      <div class="main-content-wrap" data-equalizer="event-charges">
        <h1>Pay for your booking</h1>

        <%= render "shared/flash_messages" %>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="event-charges-event-summary"  data-equalizer-watch="event-charges">
              <div class="event-charges-section-heading">Event Details</div>

              <h3><%= @presented_event.name %></h3>

              <div class="main-details">
                <%= @presented_event.dates %><br />
                Location <strong><%= @presented_event.location %> <br />
                <%= @presented_event.location_address %></strong>
              </div>

              <%= @presented_event.summary %>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <%= render partial: "event_bookings/booking_details", object: @presented_event_booking, as: :presented_event_booking %>
          </div>
        </div>

        <div class="event-charges-attendee-summary">
          <div class="event-charges-section-heading">Attendee Details</div>

          <h3>Attendees summary</h3>



          <%= render partial: "attendees/attendee", collection: @presented_attendees, as: :presented_attendee %>
        </div>

        <%= form_tag event_booking_charges_path(@presented_event_booking) do %>
          <div class="event-charges-payment-summary">
            <div class="row">
              <div class="medium-2 columns">
                Amount (ex. VAT):
              </div>
              <div class="medium-10 columns">
                <%= number_to_currency @presented_event_booking.price %>
              </div>
            </div>

            <div class="row">
              <div class="medium-2 columns">
                VAT:
              </div>
              <div class="medium-10 columns">
                <%= number_to_currency (vat_total @presented_event_booking.price) %>
              </div>
            </div>

            <div class="row">
              <div class="medium-2 columns">
                <strong>Total (inc. VAT):</strong>
              </div>
              <div class="medium-10 columns">
                <label class="amount">
                  <span><%= number_to_currency (vat_inclusive_price @presented_event_booking.price) %></span>
                </label>
              </div>
            </div>
          </div>



          <div class="payment-info">
            Please ensure you have your card holder's name and address, the card number, expiry date and CVC code ready for the payment of <strong><%= number_to_currency (@presented_event_booking.stripe_price / 100) %></strong>.
          </div>

          <% if @presented_event.booking_deadline.present? && @presented_event.booking_deadline <= Time.zone.now %>
            <p>Bookings are no longer being taken for this event.</p>
          <% elsif @presented_event.booking_deadline.present? && @presented_event.booking_deadline > Time.zone.now %>
            <p>Bookings made after <strong><%= @presented_event.booking_deadline(:long) %></strong> may still be charged but will not valid, please contact us for a refund if you accidentally book after this time.</p>
          <% end %>

          <% if (@presented_event.booking_deadline.present? && @presented_event.booking_deadline > Time.zone.now) || @presented_event.booking_deadline.blank? %>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                    data-description="<%= "Booking for #{ @presented_event.name }" %>"
                    data-amount="<%= @presented_event_booking.stripe_price %>"
                    data-email="<%= @presented_event_booking.email %>"
                    data-currency="gbp"
                    data-allow-remember-me="false"
                    data-billing-address="true"></script>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
