<section class="content-area">
  <div class="row">
    <div class="small-12 columns">
      <div class="main-content-wrap" data-equalizer="event-charges">
        <h1>Pay for your booking</h1>

        <%= render "shared/flash_messages" %>

        <div class="row">
          <div class="small-12 medium-6 columns">
            <div class="event-charges-event-summary"  data-equalizer-watch="event-charges">
              <div class="event-charges-section-heading">Event Details</div>

              <h3><%= @presented_event.name %></h3>

              <div class="main-details">
                Start <strong><%= @presented_event.start_date %></strong>
                End <strong><%= @presented_event.end_date %></strong>
                Location <strong><%= @presented_event.location %></strong>
              </div>

              <%= @presented_event.summary %>
            </div>
          </div>
          <div class="small-12 medium-6 columns">
            <%= render partial: "event_bookings/booking_details", object: @presented_event_booking, as: :presented_event_booking %>
          </div>
        </div>

        <div class="event-charges-attendee-summary">
          <div class="event-charges-section-heading">Attendee Details</div>

          <h3>Attendees summary</h3>



          <%= render partial: "attendees/attendee", collection: @presented_attendees, as: :presented_attendee %>
        </div>

        <div class="payment-info">
          Please ensure you have your card number, expiry date and CVC code ready for payment.
        </div>

        <%= form_tag event_booking_charges_path(@presented_event_booking) do %>
          <div class="event-charges-payment-summary">
            <label class="amount">
              <span>Amount (inc. VAT): <%= number_to_currency @presented_event_booking.price %></span>
            </label>
          </div>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="<%= "Booking for #{ @presented_event.name }" %>"
                  data-amount="<%= @presented_event_booking.stripe_price %>"
                  data-email="<%= @presented_event_booking.email %>"
                  data-currency="gbp"
                  data-allow-remember-me="false"></script>
        <% end %>
      </div>
    </div>
  </div>
</section>
