<%= render 'cookie_consent/message' %>
<% if @advertisements.present? %>
  <%= content_for :footer do %>
    <script>
      $(function() {
        $('.header-ads').slick({
          fade: true,
          autoplay: true,
          autoplaySpeed: 6000,
          dots: false,
          arrows: false
        });
      });
    </script>
  <% end %>
  <div class="header-ads">
    <%= render @advertisements %>
  </div>
<% end %>

<section class="membership-banner">
  <div class="js--promo-banners">
    <div>
      <div class="row">
        <div class="small-12 columns">
          <%= link_to('/events/chamber-expo-2025-early-bird-offer') do %>
            <%= image_tag('layout/header/top-banner.png', alt: 'Chamber Expo 2025') %>
          <% end %>
        </div>
      </div>
    </div>

    <% if Date.new(2025, 05, 14) > Time.zone.today %>
      <div>
        <div class="row">
          <div class="small-12 columns">
            <%= link_to('http://www.adrenalineadvertising.co.uk/') do %>
              <%= image_tag('layout/header/adrenaline-advert.jpg', alt: 'Adrenaline Advertising') %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if membership_banner.present? %>
      <div>
        <% present membership_banner do |presenter| %>
          <div class="row">
            <div class="small-12 columns">
              <div class="membership-banner__header">
                <div class="membership-banner__title">
                  <%= presenter.title.html_safe %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="large-9 small-12 columns">
              <div class="membership-banner__content">
                <%= presenter.content %>
              </div>
            </div>
            <div class="large-3 small-12 columns">
              <%= presenter.button(class: 'membership-banner__button') %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<% if app_banner.present? %>
  <section class="app-banner">
    <div class="row">
      <div class="app-banner__inner small-7 columns">
        <div class="app-banner__title">
          <%= app_banner.title %>
        </div>
        <div class="app-banner__content">
          <%= raw app_banner.content %>
        </div>
      </div>
      <div class="app-banner__aside small-5 columns text-center">
        <%= link_to 'Install now', '/pages/add-to-home-screen', class: 'app-banner__button' %>

        <%= link_to 'No thanks', '#', class: 'app-banner__dismiss' %>
      </div>
    </div>
  </section>
<% end %>
<header>
  <div class="row">
    <div class="small-12 medium-3 columns">
      <%= link_to root_path, title: global_site_settings['Name'], class: 'logo' do %>
        <%= image_tag 'layout/header/logo.jpg', alt: global_site_settings['Name'] %>
      <% end %>
    </div>
    <div class="small-12 medium-6 columns">
      <p class="header-tagline">Growing your business,<br />
        building our economy</p>
    </div>
    <div class="small-12 medium-3 member-buttons columns">
      <div class="text-right">
        <%= render 'shared/member_buttons' %>
      </div>
      <div class="row collapse">
        <div class="small-10 medium-12 columns">
          <gcse:search></gcse:search>

          <%= link_to(image_tag('components/icons/video.png', alt: 'View video', height: 45, width: 45), 'https://www.youtube.com/watch?v=38jSVhj1eGM', class: 'js--video-colorbox') %>

          <%= link_to('Book Expo25 Now', 'https://localhost:3000/events/chamber-expo-2025-early-bird-offer', style: 'display:inline-block;padding:.25rem; font-size: 1.25rem;') %>
        </div>
        <div class="small-2 medium-12 columns">
          <%= link_to '#header-navigation', class: 'toggle-class navigation-toggle show-for-medium-down', title: 'Navigation', data: { container: '.header-navigation', class: 'hide-for-medium-down', return: 'false' } do %>
            <%= image_tag 'components/icons/hamburger.png', alt: 'Navigation' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <nav>
        <ul class="header-navigation hide-for-medium-down" id="header-navigation">
          <%= nested_menu_items(menu_items: @header_menu.menu_items) %>
        </ul>
      </nav>
    </div>
  </div>
</header>
