<head>
  <title><%= global_site_settings['Name'] %></title>

  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <meta name="theme-color" content="#394755">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="apple-mobile-web-app-title" content="Hull & Humber Chamber of Commerce">
  <meta name="screen-orientation" content="portrait">

  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'vendor/foundation-ie8' %>
  <![endif]-->

  <%= yield :head %>

  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/jhn0hwh.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/plain" data-cookie-type="statistics">
    (function() {
      var cx = '014374903494110971556:pb_sfewr6k0';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>


  <!-- Google tag (gtag.js) -->
  <script type="text/plain" data-cookie-type="statistics" src="https://www.googletagmanager.com/gtag/js?id=G-SBYF83ZG11"></script>
  <script type="text/plain" data-cookie-type="statistics">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SBYF83ZG11');
  </script>
</head>
