<head>
  <title><%= global_site_settings['Name'] %></title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>

  <!--[if lt IE 9]>
    <%= javascript_include_tag 'vendor/foundation-ie8' %>
  <![endif]-->

  <%= yield :head %>

  <%= stylesheet_link_tag 'cookie_consent/consent' %>
  <%= javascript_include_tag 'cookie_consent/consent' %>

  <%= csrf_meta_tags %>
  <script src="//use.typekit.net/jhn0hwh.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
  <script type="text/plain" data-cookie-type="statistics">
    (function() {
      var cx = '014374903494110971556:pb_sfewr6k0';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
          '//cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
</head>
