<section class="content-area">
  <div class="row">
    <div class="large-3 small-12 columns">
      <aside class="aside-content-wrap">
        <h3><span>Members Filter</span></h3>

        <div class="filters">
          <%= form_tag members_path, method: :get do %>
            <div class="field">
              <%= label_tag :company_name, 'Company name' %>
              <%= text_field_tag :company_name, params[:company_name], placeholder: "Company name" %>
            </div>
            
            <div class="field">
              <%= label_tag :search_terms %>
              <%= text_field_tag :search_terms, params[:search_terms], placeholder: "Key words or industry" %>
            </div>

            <%= hidden_field_tag :filter, 1 %>
            <%= submit_tag "Filter Members", class: 'button' %>
          <% end %>
        </div>
      </aside>
    </div>

    <div class="large-9 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @additional_content.title('Members') %></h1>



        <div class="content">
          <%= @additional_content.content %>

          <%= render(partial: 'members/member', collection: @presented_members, as: :member_presenter) || 'There are no members to show.' %>

          <%= paginate @presented_members %>
        </div>
      </div>
    </div>
  </div>
</section>
