<section class="content-area">
  <div class="row">
    <div class="medium-8 small-12 columns">
      <div class="main-content-wrap">
        <h1><%= @presented_member.company_name %></h1>

        <div class="content">
          <div class="row">
            <div class="small-12 medium-6 columns address">
              <strong class="display-block">Address</strong>
              <%= @presented_member.address %>
            </div>

            <div class="small-12 medium-6 columns">
              <strong class="display-block">Telephone</strong>
              <%= @presented_member.telephone %>

              <strong class="display-block">Email</strong>
              <%= @presented_member.email %>

              <strong class="display-block">Website</strong>
              <%= @presented_member.website(target: '_blank') %>
            </div>
          </div>

          <% if @presented_member.member_offers.present? %>
            <h2>Offers</h2>
          <% end %>

          <%= render partial: 'member_offers/member_offer',
              collection: BaseCollectionPresenter.new(collection: @presented_member.member_offers, view_template: self, presenter: MemberOfferPresenter),
              as: :presented_member_offer %>
        </div>
      </div>
    </div>

    <div class="medium-4 small-12 columns">
      <%= render 'shared/sidebar' %>
    </div>
  </div>
</section>
